<div>
    <h1>Productos en Tiempo Real</h1>

    <!-- Formulario para agregar productos -->
    <form id="productForm">
        <input type="text" id="title" placeholder="Título" required>
        <input type="text" id="description" placeholder="Descripción" required>
        <input type="text" id="code" placeholder="Código" required>
        <input type="number" id="price" placeholder="Precio" required>
        <input type="number" id="stock" placeholder="Stock" required>
        <input type="text" id="category" placeholder="Categoría" required>
        <input type="text" id="thumbnail" placeholder="URL de la Imagen" required>
        <button type="submit">Agregar Producto</button>
    </form>

    <!-- Contenedor para la lista de productos -->
    <div id="productsFeed">
        {{#each products}}
        <div>
            <h3>{{this.title}}</h3>
            <img src="{{this.thumbnail}}" alt="imagen de {{this.title}}">
            <div>
                <p>{{this.description}}</p>
                <p>Precio: {{this.price}}</p>
                <p>Stock: {{this.stock}}</p>
                <p>Código: {{this.code}}</p>
            </div>
        </div>
        {{/each}}
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>
